	.wrap {
	    width: 100%;
	    height: 100%;
	    position: relative;

	    .price {
	        height: 2em;
	        position: absolute;
	        left: 0.5em;
	        top: 0.5em;
	        background-color: #000;
	        color: #fff;
	        padding: 0.2em 0.5em;
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        border-radius: 0.5em;
	        z-index: 2;
	    }

	    .control {
	        width: 1.2em;
	        height: 1.2em;
	        border-radius: 50%;
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        position: absolute;
	        top: 50%;
	        transform: translate(0%, -50%);
	        z-index: 2;
	        cursor: pointer;
	        transition: all .5s;

	        &:hover {
	            background-color: #f4f3ee;
	        }

	        img {
	            width: .6em;
	        }
	    }

	    .next {
	        background-color: white;
	        right: .5em;
	    }

	    .prev {
	        background-color: white;
	        left: .5em;
	    }

	    .prodSwiper {
	        width: 100%;
	        height: 100%;
	        border-radius: 1em;
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        margin-bottom: 1em;
	        position: relative;
	        z-index: 1;
	        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	        .swiper-slide {
	            display: flex;
	            justify-content: center;
	            align-items: center;
	            height: 100%;
	            padding: 1em;
	            z-index: 1;

	            &::before {
	                content: attr(data-slide);
	                position: absolute;
	                top: 50%;
	                left: 50%;
	                transform: translate(-50%, -50%);
	                font-size: 2em;
	                color: red;
	            }
	        }

	        [data-slide='1'] {
	            background-color: #d62828;
	        }

	        [data-slide='2'] {
	            background-color: #6b705c;
	        }

	        [data-slide='3'] {
	            background-color: #ddbea9;
	        }

	        img {
	            max-width: 100%;
	            max-height: 15em;
	        }

	    }

	}